*{
    box-sizing: border-box;
}
:root{
    --primary-color: rgb(78, 78, 212);
    --secondary-color: rgba(56, 80, 148, 0.897);
}

body{
    background: var(--primary-color);
    margin: 0;
}

.header{
    padding: 1.7rem;
    display: flex;
    justify-content: flex-end;
    background: var(--secondary-color);
}
.search{
    border-radius: 5px;
    border: 2px solid rgb(78, 78, 99);
    padding: .6rem .5rem;
    margin-right: 2rem;
    background: transparent;
    transition: background .3s ease;
    cursor: pointer;
}
.search:focus{
    outline: none;
    background: #fff;
}
.search::placeholder{
    color: white;
}

main{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.movie{
    width: 300px;
    margin: 1rem;
    background: var(--secondary-color);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
img {
    width: 100%;
    border: 3px solid white;
    border-radius: 10px;
}

.movie-info{
    display: flex;
    justify-content: space-between;
    padding: .7rem 1rem;
    color: #eee;
}
.movie-info #title{
    margin-top: 0;
}
.movie-info span#green{
    color: rgb(30, 129, 30);
    font-weight: bold;
    font-size: 19px;
}
.movie-info span#red{
    color: rgb(158, 28, 28);
    font-weight: bold;
    font-size: 20px;
}
.movie-info span#yellow{
    color: rgb(179, 142, 24);
    font-weight: bold;
    font-size: 20px;
}
.overview{
    position: absolute;
    background: #fff;
    left: 0;
    bottom: 0;
    right: 0;
    padding: .5rem;
    min-height: 45vh;
    transform: translateY(101%);
    transition: transform 2s ease;
    border-radius: 0 0 10px 10px;
    font-size: 14px;
}
.movie:hover .overview{
    transform: translateY(0);
    border-radius: 0 0 10px 10px;
}

.tags{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}
.tag{
    padding: 10px 12px;
    background: orange;
    margin: 5px 12px;
    border-radius: 10px;
    cursor: pointer;
}